@CHARSET "UTF-8";

table.zibbra-cart th,
table.zibbra-cart td {
	
	padding: 4px;
	
}

table.zibbra-cart td.actions {
	
	padding-left: 12px;
	
}

table.zibbra-cart td > input {
	
	outline: none;
	border: 1px solid rgb(175,175,175);
	-webkit-transition: all 0.50s ease-in-out;
	-moz-transition: all 0.50s ease-in-out;
	-ms-transition: all 0.50s ease-in-out;
	-o-transition: all 0.50s ease-in-out;
	transition: all 0.50s ease-in-out;
	text-align: center;
	padding: 0px 6px 0px 4px;
	color: rgb(50,50,50);
	
}

div.zibbra-icon {
	
	display: block;
	width: 16px;
	height: 16px;
	
}

div.zibbra-icon-delete {
	
	background-image: url('../images/delete.png');
	
}

#zibbra-cart-bottom {
	
	position: relative;
	margin-top: 32px;

}

#zibbra-cart-bottom > div.zibbra-cart-buttons {
	
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	
}

a.zibbra-cart-button {
	
	display: block;
	padding: 6px 12px 6px 12px;
	cursor: pointer;
	font-weight: bold;
	text-transform: uppercase;
	
}