@CHARSET "UTF-8";

#zibbra-checkout div.header {
	
	display: block;
	height: 20px;
	line-height: 20px;
	margin-bottom: 10px;
	
}

#zibbra-checkout-confirm > input[type='submit'] {
	
	float: right;
	margin-top: 0px!important;
	
}

#zibbra-checkout-confirm > p {
	
	float: left;
	
}

#zibbra-checkout-order > table > thead > tr > th,
#zibbra-checkout-order > table > tbody > tr > td {
	
	padding: 4px;
	
}

#zibbra-checkout-customer > h3 {
	
	margin: 20px 0px 10px 0px;
	
}

#zibbra-checkout-customer > h3 > a {
	
	margin-left: 10px;
	font-size: 8pt;
	
}

#zibbra-checkout-customer > h3:first-of-type {
	
	margin-top: 10px;
	
}

#zibbra-checkout-customer > dl > dt,
#zibbra-checkout-customer > dl > dd {
	
	float: left;
	margin-bottom: 4px;
	
}

#zibbra-checkout-customer > dl > dt {
	
	clear: left;
	margin-right: 10px;
	min-width: 60px;
	
}

/**
 * Overlay - Loading
 */

#zibbra-checkout {
	
	position: relative;
	
}

#zibbra-checkout > div.loading {
	
	position: absolute;
	z-index: 9999;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-color: rgba(255,255,255,0.6);
	
}

#zibbra-checkout > div.loading > div {
	
	position: absolute;
	width: 100%;
	display: block;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	line-height: 20px;
	padding-top: 50px;
	background-image: url('/media/com_zibbra/images/loading.gif');
	background-repeat: no-repeat;
	background-position: center 5px;
	
}