/**
 * Product Pages
 */

#zibbra-product {
	
	clear: both;
	position: relative;
	
}

#zibbra-product > div.zibbra-product-info {

	width: 100%;
	float: left;
	position: relative;
	
}

#zibbra-product > div.zibbra-product-info > div.zibbra-product-description {
	
	margin: 0px 0px 0px 340px;
	overflow: hidden;

}

#zibbra-product > div.zibbra-product-info > div.zibbra-product-description > p {
	
	margin-bottom: 10px;

}

#zibbra-product > div.zibbra-product-info > div.zibbra-product-description > p.zibbra-product-stock {

	white-space: nowrap;
	font-size: 9pt;
	color: rgb(100,100,100);
	
}

#zibbra-product > div.zibbra-product-info > div.zibbra-product-description > p.zibbra-product-stock > span {

	font-size: 9pt;
	color: rgb(154,2,0);
	
}

#zibbra-product > div.zibbra-product-info > div.zibbra-product-description > p.zibbra-product-stock > span.in_stock {

	color: rgb(0,154,0);
	
}

#zibbra-product > div.zibbra-product-info > div.zibbra-product-description > div.zibbra-product-actions {
	
	position: relative;
	height: 60px;
	
}

#zibbra-product > div.zibbra-product-info > div.zibbra-product-description > div.zibbra-product-actions > div.zibbra-product-buy {
	
	position: absolute;
	left: 0px;
	bottom: 0px;
	
}

#zibbra-product > div.zibbra-product-info > div.zibbra-product-description > div.zibbra-product-actions > div.zibbra-product-buy > div.zibbra-product-price {
	
	font-size: 20px;
	font-weight: bold;
	
}

#zibbra-product > div.zibbra-product-info > div.zibbra-product-description > div.zibbra-product-actions > div.zibbra-product-buy > input.disabled,
#zibbra-product > div.zibbra-product-info > div.zibbra-product-description > div.zibbra-product-actions > div.zibbra-product-buy > input.disabled:hover {
	
	background-color: #cccccc;
	color: #ffffff;
	border: none;
	cursor: default;
	
}

#zibbra-product > div.zibbra-product-info > div.zibbra-product-description > div.zibbra-product-actions > div.zibbra-product-social {
	
	position: absolute;
	right: 0px;
	bottom: 0px;
	
}

#zibbra-product > div.zibbra-product-info > div.zibbra-product-description > div.zibbra-product-actions > div.zibbra-product-social > div.zibbra-product-social-icon {
	
	display: inline-block;
	width: 28px;
	height: 28px;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
	cursor: pointer;
	
}

#zibbra-product > div.zibbra-product-info > div.zibbra-product-description > div.zibbra-product-actions > div.zibbra-product-social > div.zibbra-product-social-icon > iframe,
#zibbra-product > div.zibbra-product-info > div.zibbra-product-description > div.zibbra-product-actions > div.zibbra-product-social > div.zibbra-product-social-icon > div {
	
	opacity: 0;
	
}

#zibbra-product > div.zibbra-product-info > div.zibbra-product-description > div.zibbra-product-actions > div.zibbra-product-social > div.zibbra-product-social-facebook {
	
	background-image: url('/media/com_zibbra/images/social-facebook.png');
	
}

#zibbra-product > div.zibbra-product-info > div.zibbra-product-description > div.zibbra-product-actions > div.zibbra-product-social > div.zibbra-product-social-twitter {
	
	background-image: url('/media/com_zibbra/images/social-twitter.png');
	
}

#zibbra-product > div.zibbra-product-info > div.zibbra-product-description > div.zibbra-product-actions > div.zibbra-product-social > div.zibbra-product-social-google-plus {
	
	background-image: url('/media/com_zibbra/images/social-google-plus.png');
	
}

#zibbra-product > div.zibbra-product-info > div.zibbra-product-album {
	
	float: left;
	width: 300px;
	/*margin-left: -100%;*/
	
}

#zibbra-product > div.zibbra-product-info > div.zibbra-product-album > div.zibbra-product-album-preview > img {
	
	display: none;
	
}

#zibbra-product > div.zibbra-product-info > div.zibbra-product-album > div.zibbra-product-album-preview > img.selected {
	
	display: block;
	
}

#zibbra-product > div.zibbra-product-info > div.zibbra-product-album > div.zibbra-product-album-thumbnails {
	
	margin-top: 10px;
	
}

#zibbra-product > div.zibbra-product-info > div.zibbra-product-album > div.zibbra-product-album-thumbnails > div.zibbra-product-album-thumbnail {
	
	float: left;
	display: inline-block;
	border: 1px solid #999999;
	background-color: #ffffff;
	margin-right: 8px;
	margin-bottom: 8px;
	cursor: pointer;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-moz-box-shadow: 0px 0px 5px #cccccc;
	-webkit-box-shadow: 0px 0px 5px #cccccc;
	box-shadow: 0px 0px 5px #cccccc;
	
}

#zibbra-product > div.zibbra-product-info > div.zibbra-product-album > div.zibbra-product-album-thumbnails > div.zibbra-product-album-thumbnail > div.zibbra-product-album-thumbnail-wrapper {
	
	display: table-cell;
	vertical-align: middle;
	width: 42px;
	height: 42px;
	padding: 4px;
	opacity: 0.75;
	-moz-transition: opacity 500ms;
	-webkit-transition: opacity 500ms;
	-o-transition: opacity 500ms;
	transition: opacity 500ms;
	
}

#zibbra-product > div.zibbra-product-info > div.zibbra-product-album > div.zibbra-product-album-thumbnails > div.zibbra-product-album-thumbnail:hover > div.zibbra-product-album-thumbnail-wrapper,
#zibbra-product > div.zibbra-product-info > div.zibbra-product-album > div.zibbra-product-album-thumbnails > div.zibbra-product-album-thumbnail.selected > div.zibbra-product-album-thumbnail-wrapper {
	
	opacity: 1;
	
}

#zibbra-product > div.zibbra-product-info > div.zibbra-product-album > div.zibbra-product-album-thumbnails > div.zibbra-product-album-thumbnail > div.zibbra-product-album-thumbnail-wrapper > img {
	
	display: inline-block;
	vertical-align: middle;
	margin: 0px;
	padding: 0px;
	
}

/**
 * Variations
 */

#zibbra-product div#zibbra-product-variations {
	
	margin-top: 20px;
	
}

#zibbra-product div#zibbra-product-variations > div.zibbra-product-variation {
	
	margin-top: 10px;
	
}

#zibbra-product div#zibbra-product-variations > div.zibbra-product-variation > label {
	
	display: inline-block;
	min-width: 60px;
	
}

/**
 * Suggestions
 */

#zibbra-product > div.zibbra-product-suggestions {
	
	margin: 40px 0px 40px 0px;
	border-top: 1px solid rgb(200,200,200);
	border-bottom: 1px solid rgb(200,200,200);
	
}

#zibbra-product > div.zibbra-product-suggestions > h2 {
	
	display: inline-block;
	position: relative;
	top: -10px;
	background-color: rgb(255,255,255);
	padding-right: 10px;
	
}

#zibbra-product > div.zibbra-product-suggestions > ul {
	
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	
}

#zibbra-product > div.zibbra-product-suggestions > ul > li {
	
	float: left;
	margin: 10px 20px 10px 20px;
	
}

#zibbra-product > div.zibbra-product-suggestions > ul > li > div.image {
	
	float: left;
	
}

#zibbra-product > div.zibbra-product-suggestions > ul > li > div.info {
	
	background-color: rgb(245,245,245);
	margin-left: 100px;
	padding: 7px;
	position: relative;
	
}

#zibbra-product > div.zibbra-product-suggestions > ul > li > div.info > p.description {
	
	margin: 8px 0px 10px 0px;
	
}

#zibbra-product > div.zibbra-product-suggestions > ul > li > div.info > p.price {
	
	font-weight: bold;
	
}

#zibbra-product > div.zibbra-product-suggestions > ul > li > div.info > a > div.icon {
	
	display: block;
	position: absolute;
	bottom: 7px;
	right: 7px;
	width: 22px;
	height: 22px;
	background-color: rgb(200,200,200);
	background-image: url('../images/details.png');
	background-repeat: no-repeat;
	background-position: 3px 3px;
	cursor: pointer;
	
}

/**
 * Properties
 */

#zibbra-product > div.zibbra-product-properties table {

	border-color: transparent;
	border-collapse: separate;
	border-spacing: 0px;
 
}

#zibbra-product > div.zibbra-product-properties table tr,
#zibbra-product > div.zibbra-product-properties table td {

	border: none;
 
}

#zibbra-product > div.zibbra-product-properties table td h4 {

	margin: 10px 0px 10px 0px;
 
}

#zibbra-product > div.zibbra-product-properties table td {

	padding: 2px 0px 2px 0px;
 
}

#zibbra-product > div.zibbra-product-properties table td.zibbra-product-property-name {
	
	white-space: nowrap;
	padding-right: 4px;
	
}

#zibbra-product > div.zibbra-product-properties table td.zibbra-product-property-value {
	
	
}

#zibbra-product-image-preview {
	
	cursor: crosshair;
	cursor: -webkit-zoom-in;
	cursor: -moz-zoom-in;
	
}

#zibbra-product-image-zoom {
	
	position: absolute;
	top: 0px;
	left: 340px;
	width: 300px;
	height: 300px;
	border: 1px solid #999999;
	background-color: #ffffff;
	overflow: hidden;
	
}

#zibbra-product-image-zoom > img {
	
	position: absolute;
	top: 0px;
	left: 0px;
	
}