div.slider {
	
	position: relative;
	width: 180px;
	height: 50px;
	margin-top: 6px;
	
}

div.slider > table.slider-labels {
	
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	
}

div.slider > table.slider-labels td.slider-min,
div.slider > table.slider-labels td.slider-max {
	
	padding-bottom: 5px;
	background-image: url('/media/com_zibbra/images/slider-arrow.png');
	background-repeat: no-repeat;
	background-position: bottom center;
	
}

div.slider > table.slider-labels td.slider-min > div,
div.slider > table.slider-labels td.slider-max > div {
	
	display: inline-block;
	background-color: rgb(227,227,227);
	white-space: nowrap;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	
}

div.slider > table.slider-labels td.slider-min > div > span,
div.slider > table.slider-labels td.slider-max > div > span {
	
	margin-left: 4px;
	
}

div.slider > table.slider-labels td.slider-min > div > input,
div.slider > table.slider-labels td.slider-max > div > input {
	
	background-color: rgb(227,227,227);
	border: none;
	padding: 0px;
	margin: 0px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	
}

div.slider > div.slider-controls {
	
	position: absolute;
	top: 30px;
	left: 0px;
	right: 0px;
	
}

div.slider > div.slider-controls > div.slider-container {
	
	display: block;
	width: 100%;
	height: 8px;
	top: 3px;
	border: 1px solid #aaaaaa;
	background-color: #ffffff;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	
}

div.slider > div.slider-controls > div.slider-handle {
	
	display: block;
	margin-left: 1px;
	width: 14px;
	height: 14px;
	border: 1px solid #cccccc;
	background-color: #e6e6e6;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	
}

div.slider > div.slider-controls > div.slider-indicator {
	
	display: block;
	width: 100%;
	height: 8px;
	top: 4px;
	background-color: #cccccc;
	
}