@CHARSET "UTF-8";

#zibbra-account table.zibbra-account th,
#zibbra-account table.zibbra-account td {
	
	padding: 4px;
	
}

#zibbra-account dl.zibbra-account > dt,
#zibbra-account dl.zibbra-account > dd {
	
	float: left;
	margin-bottom: 4px;
	
}

#zibbra-account dl.zibbra-account > dt {
	
	clear: left;
	margin-right: 10px;
	min-width: 60px;
	
}

#zibbra-account h3:first-of-type {
	
	margin: 0px 0px 20px 0px;
	
}

#zibbra-account h3 {
	
	margin: 20px 0px 20px 0px;
	
}