@CHARSET "UTF-8";

#zibbra-checkout div.header {
	
	display: block;
	height: 20px;
	line-height: 20px;
	margin-bottom: 10px;
	
}

#zibbra-checkout div.header > span.step {
	
	float: left;
	margin-right: 6px;
	display: block;
	width: 20px;
	height: 20px;
	text-align: center;
	font-family: Verdana, Arial;
	font-size: 14px;
	font-weight: bold;
	line-height: 20px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	background-color: rgb(145,145,145);
	color: rgb(255,255,255);
	
}

#zibbra-checkout-confirm > input[type='submit'] {
	
	float: right;
	margin-top: 0px!important;
	
}

#zibbra-checkout-confirm > p {
	
	float: left;
	
}

#zibbra-checkout-cart > table > thead > tr > th,
#zibbra-checkout-cart > table > tbody > tr > td {
	
	padding: 4px;
	
}

#zibbra-checkout-login {
	
	padding: 10px;
	
}

#zibbra-checkout-account > h3 {
	
	margin: 20px 0px 10px 0px;
	
}

#zibbra-checkout-account > h3 > a {
	
	margin-left: 10px;
	font-size: 8pt;
	
}

#zibbra-checkout-account > h3:first-of-type {
	
	margin-top: 10px;
	
}

#zibbra-checkout-account > dl > dt,
#zibbra-checkout-account > dl > dd {
	
	float: left;
	margin-bottom: 4px;
	
}

#zibbra-checkout-account > dl > dt {
	
	clear: left;
	margin-right: 10px;
	min-width: 60px;
	
}

#zibbra-checkout-shipping > fieldset,
#zibbra-checkout-payment > fieldset {
	
	border: none;
	
}

#zibbra-checkout-shipping > fieldset > input,
#zibbra-checkout-payment > fieldset > input,
#zibbra-checkout-shipping > fieldset > label,
#zibbra-checkout-payment > fieldset > label {
	
	float: left;
	margin-top: 6px;
	
}

#zibbra-checkout-shipping > fieldset > input,
#zibbra-checkout-payment > fieldset > input {
	
	clear: left;
	margin-left: 8px;
	margin-right: 8px;
	
}

/**
 * Overlay - Loading
 */

#zibbra-checkout {
	
	position: relative;
	
}

#zibbra-checkout > div.loading {
	
	position: absolute;
	z-index: 9999;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-color: rgba(255,255,255,0.6);
	
}

#zibbra-checkout > div.loading > div {
	
	position: absolute;
	width: 100%;
	display: block;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	line-height: 20px;
	padding-top: 50px;
	background-image: url('/media/com_zibbra/images/loading.gif');
	background-repeat: no-repeat;
	background-position: center 5px;
	
}