/**
 * Category Listing
 */

#zibbra-catalog > div.zibbra-catalog-product {
	
	height: auto;
	position: relative;
	margin-top: 20px;
	
}

#zibbra-catalog > div.zibbra-catalog-product > div.clear {
	
	clear: both;
	
}

#zibbra-catalog > div.zibbra-catalog-product > div.zibbra-catalog-product-wrapper {

	width: 100%;
	float: left;
	
}

#zibbra-catalog > div.zibbra-catalog-product > div.zibbra-catalog-product-wrapper > div.zibbra-catalog-product-middle {

	margin: 0px 100px 0px 170px;
	overflow: hidden;
	
}

#zibbra-catalog > div.zibbra-catalog-product > div.zibbra-catalog-product-wrapper > div.zibbra-catalog-product-middle > p.zibbra-catalog-product-description {

	text-align: justify;
	text-overflow: ellipsis;
	
}

#zibbra-catalog > div.zibbra-catalog-product > div.zibbra-catalog-product-left {
	
	float: left;
	width: 170px;
	margin-left: -100%;
	
}

#zibbra-catalog > div.zibbra-catalog-product > div.zibbra-catalog-product-left > div.zibbra-catalog-product-image {
	
	text-align: center;
	
}

#zibbra-catalog > div.zibbra-catalog-product > div.zibbra-catalog-product-right {

	position: absolute;
	width: 100px;
	height: 100%;
	top: 0px;
	right: 0px;
	text-align: right;
	line-height: 100%;
	
}

#zibbra-catalog > div.zibbra-catalog-product > div.zibbra-catalog-product-right > div.zibbra-catalog-product-price {

	margin-top: 50px;
	
}

#zibbra-catalog > div.zibbra-catalog-product > div.zibbra-catalog-product-right > button.zibbra-catalog-product-add-to-cart {

	margin-top: 10px;
	
}

#zibbra-catalog > div.zibbra-catalog-product > div.zibbra-catalog-product-right > p.zibbra-catalog-product-stock {

	float: right;
	white-space: nowrap;
	font-size: 8pt;
	color: rgb(100,100,100);
	
}

#zibbra-catalog > div.zibbra-catalog-product > div.zibbra-catalog-product-right > p.zibbra-catalog-product-stock > span {

	font-size: 9pt;
	color: rgb(154,2,0);
	
}

#zibbra-catalog > div.zibbra-catalog-product > div.zibbra-catalog-product-right > p.zibbra-catalog-product-stock > span.in_stock {

	color: rgb(0,154,0);
	
}

/**
 * Pagination
 */

#zibbra-catalog > div.pagination {
	
    text-align: center;
	margin-top: 12px;
	height: 29px;
	line-height: 29px;
	background-color: rgb(255,255,255);
	border: 1px solid rgb(220,220,220);
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 4px 10px 4px 10px;
	-moz-box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    
}

#zibbra-catalog > div.pagination > a,
#zibbra-catalog > div.pagination > div {
	
	display: inline-block;
	
}

#zibbra-catalog > div.pagination > div {
	
	margin-left: 4px;
	margin-right: 10px;
	
}

#zibbra-catalog > div.pagination > div > span {
	
	color: rgb(100,100,100);
	
}

#zibbra-catalog > div.pagination > div > input {
	
	color: rgb(100,100,100);
	width: 30px;
	border: 1px solid rgb(220,220,220);
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-align: center;
	
}

#zibbra-catalog > div.pagination > a.disabled {
	
	text-decoration: none;
	color: rgb(200,200,200);
	cursor: default;
	
}

/**
 * Overlay - Loading
 */

#zibbra-catalog {
	
	position: relative;
	
}

#zibbra-catalog > div.loading {
	
	position: absolute;
	z-index: 9999;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-color: rgba(255,255,255,0.6);
	
}

#zibbra-catalog > div.loading > div {
	
	position: absolute;
	width: 100%;
	display: block;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	line-height: 20px;
	padding-top: 50px;
	background-image: url('/media/com_zibbra/images/loading.gif');
	background-repeat: no-repeat;
	background-position: center 5px;
	
}

/**
 * Catalog Header
 */
/*
#zibbra-catalog-header {
	
	margin-bottom: 20px;	
	
}
*/
#zibbra-catalog-header > h1 {
	
	margin-bottom: 8px;
	
}

#zibbra-catalog-header > img {
	
	float: right;
	
}

#zibbra-catalog-header > div#zibbra-catalog-header-controls {
	
	margin-top: 12px;
	height: 29px;
	line-height: 29px;
	background-color: rgb(255,255,255);
	border: 1px solid rgb(220,220,220);
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 4px 10px 4px 10px;
	-moz-box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
	
}

#zibbra-catalog-header > div#zibbra-catalog-header-controls > div#zibbra-catalog-sort {
	
	float: right;
	
}

#zibbra-catalog-header > div#zibbra-catalog-header-controls > div#zibbra-catalog-sort > a {
	
	margin-left: 10px;
	display: inline-block;
	height: 16px;
	line-height: 16px;
	
}

#zibbra-catalog-header > div#zibbra-catalog-header-controls > div#zibbra-catalog-sort > a.active {
	
	font-weight: bold;
	padding-right: 12px;
	background-image: url('/media/com_zibbra/images/sprite_sorting.gif');
	background-repeat: no-repeat;
	
}

#zibbra-catalog-header > div#zibbra-catalog-header-controls > div#zibbra-catalog-sort > a.active.asc {
	
	background-position: 100% -16px;
	
}

#zibbra-catalog-header > div#zibbra-catalog-header-controls > div#zibbra-catalog-sort > a.active.desc {
	
	background-position: 100% 0px;
	
}

/**
 * Filters
 */

div.zibbra-filter {
	
	margin-bottom: 10px;
	
}

div.zibbra-filter > div.header {
	
	margin-bottom: 4px;
	
}

div.zibbra-filter.list > div.header {
	
	cursor: pointer;
	
}

div.zibbra-filter > div.header > div.icon {
	
	float: right;
	width: 20px;
	height: 17px;
	background-image: url('../images/filter-arrow-up.png');
	background-repeat: no-repeat;
	background-position: 5px 5px;
	cursor: pointer;
	
}

div.zibbra-filter.collapsed > div.header > div.icon {
	
	background-image: url('../images/filter-arrow-down.png');
	
}

div.zibbra-filter div.list > input {
	
	float: left;
	clear: left;
	
}

div.zibbra-filter div.list > input.disabled {
	
	opacity: 0.75;
}

div.zibbra-filter div.list > label {
	
	float: left;
	padding-left: 6px;
	
}

div.zibbra-filter div.list > label.disabled {
	
	color: rgb(175,175,175);
	
}

div.zibbra-filter div.list > label.disabled > span.suffix {
	
	display: none;
	
}

div.zibbra-filter div.list > label > span.suffix {
	
	font-size: 8pt;
	color: rgb(175,175,175);
	padding-left: 6px;
	
}

div.zibbra-filter div.list > label > span.suffix > span.count {
	
	font-size: 8pt;
	color: rgb(175,175,175);
	
}

/**
 * Category Pages
 */

#zibbra-categories {
	
	width: 100%;
	margin-top: 40px;
	
}

#zibbra-categories > div.zibbra-categories-row {
	
	display: block;
	padding-bottom: 40px;
	
}

#zibbra-categories > div.zibbra-categories-row > div.zibbra-category {
	
	display: block;
	float: left;
	width: 220px;
	margin-left: 40px;
	text-align: center;
	
}

#zibbra-categories > div.zibbra-categories-row > div.zibbra-category:first-of-type {
	
	margin-left: 5px;
	
}

#zibbra-categories > div.zibbra-categories-row > div.zibbra-category > table.zibbra-category-image {
	
	display: block;
	width: 200px;
	height: 210px;
	margin: 0;
	padding: 0;
	border: 0;
	
}

#zibbra-categories > div.zibbra-categories-row > div.zibbra-category > table.zibbra-category-image td {
	
	vertical-align: middle;
	text-align: center;
	width: 200px;
	height: 200px;
	
}