#zibbra-manufacturers {
	
	margin-top: 10px;
	
}

#zibbra-manufacturers > ul.tabs {
	
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	display: block;
	height: 24px;
	width: 100%;
	
}

#zibbra-manufacturers > ul.tabs > li {
	
	float: left;
	display: inline-block;
	height: 24px;
	line-height: 24px;
	padding: 0px 14px 0px 14px;
	margin-right: 10px;
	background-color: rgba(0,0,0,0.1);
	border: 1px solid rgba(0,0,0,0.25);
	opacity: 0.5;
	cursor: pointer;
	
}

#zibbra-manufacturers > ul.tabs > li:hover,
#zibbra-manufacturers > ul.tabs > li.selected {
	
	opacity: 1;
	
}

#zibbra-manufacturers > div.list {
	
	margin-top: 20px;
	
}

#zibbra-manufacturers > div.list > ul {
	
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	display: block;
	width: 100%;
	
}