/**
 * Header Top Bar
 */

#top-bar > div#register > a:link,
#top-bar > div#register > a:visited {

	color: rgb(0,151,219);

}

#top-bar > div#register > a:hover {

	color: rgb(255,255,255);

}

#top-bar > div#login > form input[type='submit'] {
	
	background-color: rgb(0,151,219);
	
}

#zibbra-login a.button {
	
	background-color: rgb(0,151,219);
	color: rgb(255,255,255);
	
}

#zibbra-login a.button:hover {
	
	color: rgb(0,151,219);
	background-color: rgb(255,255,255);
	
}

/**
 * Logo / Site Title & Description
 */

#header > div.logoheader > div#slogan > b {
	
	color: rgb(0,151,219);
	font-size: 12pt;
	font-weight: normal;
	
}

/**
 * Minicart
 */

#header > div.logoheader > div#minicart div.icon {
	
	background-image: url('../images/blue/minicart.png');
	background-repeat: no-repeat;
	background-position: top left;
	
}

#header > div.logoheader > div#minicart button {
	
	background-color: rgb(0,151,219);
	color: rgb(255,255,255);
	border: 1px solid rgb(255,255,255);
	
}

#header > div.logoheader > div#minicart button:hover {
	
	background-color: rgb(255,255,255);
	color: rgb(0,151,219);
	border: 1px solid rgb(0,151,219);
	
}

#header > div.logoheader > div#minicart #minicart-details > div.arrow {
	
	background-image: url('../images/blue/minicart-arrow.png');
	
}

#header > div.logoheader > div#minicart #minicart-details > ul {
	
	border-top: 1px solid rgb(0,151,219);
	border-bottom: 1px solid rgb(0,151,219);
	
}

#header > div.logoheader > div#minicart #minicart-details > ul > li,
#header > div.logoheader > div#minicart #minicart-details > ul > li > a:link,
#header > div.logoheader > div#minicart #minicart-details > ul > li > a:visited,
#header > div.logoheader > div#minicart #minicart-details > ul > li > a:hover {
	
	color: rgb(0,151,219);
	
}

#header > div.logoheader > div#minicart #minicart-details > ul > li > a:hover {
	
	color: rgb(0,0,0);
	
}

#header > div.logoheader > div#minicart #minicart-details > ul > li.button > a {
	
	background-color: rgb(0,151,219);
	color: rgb(255,255,255);
	border: 1px solid rgb(245,245,245);
	
}

#header > div.logoheader > div#minicart #minicart-details > ul > li.button > a:hover {
	
	background-color: rgb(255,255,255);
	color: rgb(0,151,219);
	border: 1px solid rgb(0,151,219);
	
}

/**
 * Navigation
 */

#header > #menu {
	
	background-color: rgb(0,151,219);
	
}

#header > #menu > ul.menu > li > a:link,
#header > #menu > ul.menu > li > a:visited,
#header > #menu > ul.menu > li > a:hover {
	
	color: rgb(255,255,255);
	
}

#header > #menu > ul.menu > li:hover > a,
#header > #menu > ul.menu > li.active > a {
	
	background-color: rgb(255,255,255);
	color: rgb(0,151,219);
	
}

#header > #menu > ul.menu > li > ul > li > div.showmore {
	
	background-image: url('../images/blue/menu-arrow-right.png');
	
}

/**
 * Search
 */

#header > #search > form > div.search > input.inputbox {
	
	color: rgb(150,150,150);
	background-color: rgb(255,255,255);
	
}

#header > #search > form > div.search > input[type='submit'].button {
	
	border: 1px solid rgb(255,255,255);
	color: rgb(255,255,255);
	background-color: rgb(0,151,219);
	
}

/**
 * Breadcrumbs
 */

#breadcrumbs > div.breadcrumbs > span {
	
	color: rgb(0,151,219);
	
}

/**
 * Banners
 */

#banners > div.bannercontrols > div.buttons > div.button {
	
	border: 1px solid rgb(0,151,219);
	
}

#banners > div.bannercontrols > div.previous,
#banners > div.bannercontrols > div.next,
#banners > div.bannercontrols > div.buttons > div.button.active {
	
	background-color: rgb(0,151,219);
	color: rgb(255,255,255);
	
}

#banners > div.bannergroup > div.banneritem div.info > h1 {
		
	background-color: rgb(0,151,219);
	color: rgb(255,255,255);
	
}

#banners > div.bannergroup > div.banneritem div.info > div.info-description > h2 {
		
	color: rgb(0,151,219);
	
}

/**
 * Main Content
 */

#main > h1,
#main > div > h1,
#main > h2,
#main > div > h2 {
	
	color: rgb(0,151,219);
	border-bottom: 1px solid rgb(0,151,219);
	
}

#main a:link,
#main a:visited {
	
	color: rgb(0,151,219);
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	transition: all 0.30s ease-in-out;
	
}

#main a:hover {
	
	color: rgb(0,0,0);
	
}

/**
 * Featured table
 */

#main table.featured h2 {
	
	color: rgb(0,151,219);
	
}

#main table.featured a.buy {
	
	background-color: rgb(0,151,219);
	color: rgb(255,255,255);	
	border: 1px solid rgb(245,245,245);
	
}

#main table.featured a.buy:hover {
	
	color: rgb(0,151,219);
	background-color: rgb(255,255,255);	
	border: 1px solid rgb(0,151,219);
	
}

/**
 * Zibbra Catalog
 */

#zibbra-catalog h2.zibbra-catalog-product-name > a {
	
	color: rgb(0,151,219);	
	
}

#zibbra-catalog > div.zibbra-catalog-product > div.zibbra-catalog-product-right input.zibbra-catalog-product-add-to-cart {
	
	border: 1px solid rgb(255,255,255);
	background-color: rgb(0,151,219);
	color: rgb(255,255,255);
	
}

#zibbra-catalog > div.zibbra-catalog-product > div.zibbra-catalog-product-right input.zibbra-catalog-product-add-to-cart:hover {
	
	border: 1px solid rgb(0,151,219);
	background-color: rgb(255,255,255);
	color: rgb(0,151,219);
	
}

#zibbra-catalog > div.pagination > span.current {
	
	color: rgb(0,151,219);	
    
}

/**
 * Zibbra Catalog Filters
 */

div.slider > div.slider-controls > div.slider-indicator {
	
	background-color: rgb(0,151,219);
	
}

div.zibbra-filter > div.header > div.icon {
	
	background-image: url('../images/blue/filter-arrow-up.png');
	
}

div.zibbra-filter.collapsed > div.header > div.icon {
	
	background-image: url('../images/blue/filter-arrow-down.png');
	
}

/**
 * Zibbra Catalog Category Pages
 */

#zibbra-categories > div.zibbra-categories-row > div.zibbra-category > a.button {
	
	border: 1px solid rgb(255,255,255);
	background-color: rgb(0,151,219);
	color: rgb(255,255,255);
	
}

#zibbra-categories > div.zibbra-categories-row > div.zibbra-category > a.button:hover {
	
	border: 1px solid rgb(0,151,219);
	background-color: rgb(255,255,255);
	color: rgb(0,151,219);
	
}

/**
 * Product Pages
 */

#zibbra-product > div.zibbra-product-info > div.zibbra-product-description > h1 {

	color: rgb(0,151,219);

}

#zibbra-product > div.zibbra-product-info > div.zibbra-product-description > div.zibbra-product-actions > div.zibbra-product-buy > input {
	
	border: 1px solid rgb(255,255,255);
	background-color: rgb(0,151,219);
	color: rgb(255,255,255);
	
}

#zibbra-product > div.zibbra-product-info > div.zibbra-product-description > div.zibbra-product-actions > div.zibbra-product-buy > input:hover {
	
	border: 1px solid rgb(0,151,219);
	background-color: rgb(255,255,255);
	color: rgb(0,151,219);
	
}

#zibbra-product > div.zibbra-product-suggestions > ul > li > div.info > a > div.icon {
	
	background-color: rgb(0,151,219);
	
}

#zibbra-product > div.zibbra-product-properties > h3 {
	
	color: rgb(0,151,219);
	
}

/**
 * Zibbra Cart
 */

div.zibbra-icon-delete {
	
	background-image: url('../images/blue/delete.png');
	
}

table.zibbra-cart td > input:focus {
	
	border: 1px solid rgb(0,151,219);
	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
	
}

div.zibbra-cart-totals th {
	
	color: rgb(0,151,219);
	
}

a.zibbra-cart-button {
	
	border: 1px solid rgb(255,255,255);
	background-color: rgb(0,151,219);
	
}

a.zibbra-cart-button > span {
	
	color: rgb(255,255,255);
	
}

a.zibbra-cart-button:hover {
	
	border: 1px solid rgb(0,151,219);
	background-color: rgb(255,255,255);
	
}

a.zibbra-cart-button:hover > span {
	
	color: rgb(0,151,219);
	
}

/**
 * Zibbra Checkout
 */

#zibbra-checkout div.header {
	
	color: rgb(0,151,219);
	
}

#zibbra-checkout div.header > span.step {
	
	background-color: rgb(0,151,219);
	
}

/**
 * Zibbra Account Pages
 */

#zibbra-account h3 {
	
	color: rgb(0,151,219);
	
}

/**
 * Footer Styling
 */

#footer-inner > #bottom div.box h2 {
	
    color: rgb(0,151,219);
    
}

/**
 * Newsletter
 */

#zibbra-newsletter table input[type='submit'] {
	
    background-color: rgb(0,151,219);
	color: rgb(255,255,255);
	
}

/**
 * Sitemap
 */

#bottom ul.menu > li > a:hover,
#bottom ul.menu > li.active > a {
	
	color: rgb(0,151,219);
	
}

/**
 * Powered By
 */

#poweredby a:hover {
	
	color: rgb(0,151,219);
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	transition: all 0.30s ease-in-out;
	
}

/**
 * Contact
 */

#main > div.contact button {
	
	background-color: rgb(0,151,219);
	color: rgb(255,255,255);
	
}

#main > div.contact fieldset > dl > dd > input:focus,
#main > div.contact fieldset > dl > dd > textarea:focus {
	
	border: 1px solid rgb(0,151,219);
	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
	
}

/**
 * Bestsellers
 */

#zibbra-bestsellers > h2 {
	
	background-color: rgb(0,151,219)!important;
	
}

#zibbra-bestsellers > h2 > span {
	
	color: rgb(255,255,255);
	
}

#zibbra-bestsellers ul > li > div.info > h3 {
	
	color: rgb(0,151,219);
	
}

#zibbra-bestsellers ul > li > div.info > a > div.icon {
	
	background-color: rgb(0,151,219)!important;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	
}

/**
 * Forms
 */

#main form input[type='submit'] {
	
	background-color: rgb(0,151,219);
	color: rgb(255,255,255);
	border: 1px solid rgb(255,255,255);
	
}

#main form input[type='submit']:hover {
	
	background-color: rgb(255,255,255);
	color: rgb(0,151,219);
	border: 1px solid rgb(0,151,219);
	
}

form > fieldset > dl > dd > input:focus,
form > fieldset > dl > dd > textarea:focus {
	
	border: 1px solid rgb(0,151,219);
	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
	
}

/**
 * Tooltips
 */

div.tip-wrap {
	
	border: 1px solid rgb(0,151,219);
	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
	
}

/**
 * Search Results
 */

#searchForm > fieldset.word > input:focus {
	
	border: 1px solid rgb(0,151,219);
	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
	
}

#searchForm > fieldset.word > button {	
	
	background-color: rgb(0,151,219);
	color: rgb(255,255,255);
	border: 1px solid rgb(245,245,245);
	
}

#searchForm > fieldset.word > button:hover {
	
	background-color: rgb(255,255,255);
	color: rgb(0,151,219);
	border: 1px solid rgb(0,151,219);
	
}

#searchForm > div.searchintro,
#searchForm > div.form-limit {
	
	background-color: rgb(0,151,219);
	color: rgb(255,255,255);
	
}

div.search > dl.search-results > dt.result-title,
div.search > dl.search-results > dt.result-title > a {
	
	color: rgb(0,151,219);
	
}

/**
 * Manufacturers Page
 */

#zibbra-manufacturers > ul.tabs > li {	
	
	background-color: rgb(0,151,219);
	color: rgb(255,255,255);
	border: 1px solid rgb(255,255,255);
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	transition: all 0.30s ease-in-out;
	opacity: 1;
	
}

#zibbra-manufacturers > ul.tabs > li:hover,
#zibbra-manufacturers > ul.tabs > li.selected {
	
	background-color: rgb(255,255,255);
	color: rgb(0,151,219);
	border: 1px solid rgb(0,151,219);
	
}