@font-face {
	
	font-family: "Exo";
	src: url("../fonts/Exo-Medium.ttf");
	
}

* {
	
	margin: 0px;
	padding: 0px;
	font-family: "Exo";
	font-size: 10pt;
	
}

table.featured {
	
	background-color: rgb(245,245,245);
	border-spacing: 20px 20px;
	
}

table.featured h2 {
	
	color: rgb(0,151,219);
	margin-bottom: 20px;
	
}

table.featured .price {
	
	display: block;
	white-space: nowrap;
	font-size: 18pt;
	font-weight: bold;
	
}

table.featured a.buy {
	
	display: inline-block;
	margin-top: 10px;
	white-space: nowrap;
	text-transform: uppercase;
	text-align: center;
	font-size: 12pt;
	font-weight: bold;
	padding: 8px 16px 8px 16px;
	background-color: rgb(0,151,219);
	color: rgb(255,255,255);
	
}

table.featured a.buy:link,
table.featured a.buy:visited,
table.featured a.buy:hover {
	
	text-decoration: none;
	
}