@font-face {
	
	font-family: "Exo";
	src: url("../fonts/Exo-Medium.ttf");
	
}

* {
	
	margin: 0px;
	padding: 0px;
	font-family: "Exo";
	font-size: 10pt;
	
}

.clear {
	
	clear: both;
	
}

/**
 * Positioning
 */

body {
	
    text-align: center;
    position: relative;
    
}

#header-wrapper {
	
	width: 100%;
    height: 222px;
    position: relative;
    
}

#back,
#header,
#footer-inner,
#footer-sub {
	
    margin: 0 auto;
    max-width: 1050px;
    text-align: left;
    
}

#header {
	
    position: relative;
    height: 100%;
    
}

#contentarea {
	
    position: relative;
    overflow: hidden;
    padding: 0px 20px;

}

#footer-outer {
	
	display: block;
	height: 365px;
	overflow: hidden;
	margin-top: 60px;
	
}

#left {
	
	padding-right: 30px;
	width: 220px;
	
}

#right {
	
	padding-left: 30px;
	width: 220px;
	
}

/**
 * Header styling
 */

#header-wrapper {
	
	background-image: url('../images/header.png');
    background-repeat: repeat-x;
    background-position: top left;
    
}

/**
 * Header Top Bar
 */
 
#top-bar {

	height: 38px;
	overflow: hidden;
	color: rgb(255,255,255);

}

#top-bar > div#register {

	float: right;
	height: 38px;
	line-height: 38px;
	margin-right: 40px;

}

#top-bar > div#register > a {

	-webkit-transition: all 0.20s ease-in-out;
	-moz-transition: all 0.20s ease-in-out;
	-ms-transition: all 0.20s ease-in-out;
	-o-transition: all 0.20s ease-in-out;
	transition: all 0.20s ease-in-out;

}

#top-bar > div#register > a:link,
#top-bar > div#register > a:visited,
#top-bar > div#register > a:hover {

	text-decoration: none;

}

#top-bar > div#phone {

	float: left;
	height: 38px;
	line-height: 38px;
	margin-left: 10px;

}

#top-bar > div#phone > img {

	float: left;
	margin-top: 10px;

}

#top-bar > div#login {
	
	float: right;
	height: 38px;
	line-height: 38px;
	overflow: hidden;
	
}

#top-bar > div#login > form {
	
	margin: 0px;
	padding: 0px;
	
}

#top-bar > div#login > form > div.username-container,
#top-bar > div#login > form > div.password-container {
	
	display: inline-block;
	position: relative;
	margin-right: 4px;
	
}

#top-bar > div#login > form > div.username-container > input,
#top-bar > div#login > form > div.password-container > input {
	
	width: 120px;
	height: 22px;
	line-height: 22px;
	outline: none;
	display: inline-block;
	border: none;
	background-color: rgb(255,255,255);
	color: rgb(150,150,150);
	padding-left: 6px;
	
}

#top-bar > div#login > form > div.username-container > label,
#top-bar > div#login > form > div.password-container > label {
	
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 22px;
	line-height: 22px;
	right: 0px;
	z-index: 2;
	background-color: rgb(255,255,255);
	color: rgb(150,150,150);
	padding-left: 6px;
	cursor: text;
	
}

#top-bar > div#login > form input[type='submit'] {
	
	display: inline-block;
	border: none;
	width: 32px;
	height: 22px;
	line-height: 22px;
	background-image: url('../images/lock.png');
	background-repeat: no-repeat;
	background-position: center center;
	cursor: pointer;
	
}

#zibbra-login a.button {
	
	color: rgb(255,255,255);
	display: inline-block;
	height: 22px;
	line-height: 22px;
	cursor: pointer;
	text-decoration: none;
	padding: 0px 10px 0px 10px;
	-webkit-transition: all 0.20s ease-in-out;
	-moz-transition: all 0.20s ease-in-out;
	-ms-transition: all 0.20s ease-in-out;
	-o-transition: all 0.20s ease-in-out;
	transition: all 0.20s ease-in-out;
	
}

/**
 * Logo / Site Title & Description
 */

#header > div.logoheader {
	
	position: absolute;
	top: 38px;
	bottom: 32px;
	left: 0px;
	right: 0px;
	
}

#header > div.logoheader > h1#logo {
	
	margin: 38px 0px 0px 10px;
	
}

#header > div.logoheader > h1#logo > span.site-title,
#header > div.logoheader > h1#logo > span.site-description {
	
	display: block;
	
}

#header > div.logoheader > h1#logo > span.site-title {
	
	font-size: 26pt;
	font-style: italic;
	font-weight: 600;
	
}

#header > div.logoheader > h1#logo > span.site-description {
	
	font-size: 11pt;
	font-weight: normal;
	padding-left: 2px;
	
}

#header > div.logoheader > div#slogan {
	
	position: absolute;
	top: 40px;
	right: 0px;
	font-size: 12pt;
	font-weight: normal;
	
}

/**
 * Minicart
 */

#header > div.logoheader > div#minicart {
	
	position: absolute;
	bottom: 16px;
	right: 0px;
	height: 29px;
	z-index: 2002;
	
}

#header > div.logoheader > div#minicart div.icon {
	
	display: block;
	width: 26px;
	height: 29px;
	margin-right: 10px;
	
}

#header > div.logoheader > div#minicart div.price {
	
	font-size: 14pt;
	font-weight: bold;
	
}

#header > div.logoheader > div#minicart button {
	
	display: block;
	padding: 6px 12px 6px 12px;
	margin-left: 14px;
	cursor: pointer;
	font-weight: bold;
	text-transform: uppercase;
	-webkit-transition: all 0.20s ease-in-out;
	-moz-transition: all 0.20s ease-in-out;
	-ms-transition: all 0.20s ease-in-out;
	-o-transition: all 0.20s ease-in-out;
	transition: all 0.20s ease-in-out;
	
}

#header > div.logoheader > div#minicart #minicart-details {
	
	position: absolute;
	top: 27px;
	width: 100%;
	z-index: 30;
	
}

#header > div.logoheader > div#minicart #minicart-details > div.arrow {
	
	position: absolute;
	top: 3px;
	left: 8px;
	width: 9px;
	height: 5px;
	
}

#header > div.logoheader > div#minicart #minicart-details > ul {
	
	list-style-type: none;
	margin: 8px 0px 0px -50px;
	padding: 10px;
	background-color: rgb(245,245,245);
	
}

#header > div.logoheader > div#minicart #minicart-details > ul > li,
#header > div.logoheader > div#minicart #minicart-details > ul > li > a {
	
	font-size: 8pt;
	line-height: 20px;
	
}

#header > div.logoheader > div#minicart #minicart-details > ul > li > a {
	
	-webkit-transition: all 0.20s ease-in-out;
	-moz-transition: all 0.20s ease-in-out;
	-ms-transition: all 0.20s ease-in-out;
	-o-transition: all 0.20s ease-in-out;
	transition: all 0.20s ease-in-out;
	
}

#header > div.logoheader > div#minicart #minicart-details > ul > li.button {
	
	text-align: right;
	margin-top: 10px;
	
}

#header > div.logoheader > div#minicart #minicart-details > ul > li.button > a {
	
	padding: 4px 8px 4px 8px;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 8pt;
	cursor: pointer;
	font-weight: bold;
	-webkit-transition: all 0.20s ease-in-out;
	-moz-transition: all 0.20s ease-in-out;
	-ms-transition: all 0.20s ease-in-out;
	-o-transition: all 0.20s ease-in-out;
	transition: all 0.20s ease-in-out;
	
}

/**
 * Navigation
 */

#header > #menu {
	
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
	height: 32px;
	z-index: 2000;
	
}

#header > #menu > ul.menu {
	
	position: relative;
	list-style-type: none;
	padding: 0 20px;
	height: 32px;
	
}

#header > #menu > ul.menu > li {
	
	float: left;
	position: relative;
	display: block;
	
}

#header > #menu > ul.menu > li > a {
	
	display: block;
	padding: 6px 12px 6px 12px;
	font-family: "Exo";
	font-size: 11pt;
	text-transform: uppercase;
	text-decoration: none;
	-webkit-transition: all 0.20s ease-in-out;
	-moz-transition: all 0.20s ease-in-out;
	-ms-transition: all 0.20s ease-in-out;
	-o-transition: all 0.20s ease-in-out;
	transition: all 0.20s ease-in-out;
	
}

#header > #menu > ul.menu > li > ul {
	
	position: absolute;
	top: 32px;
	left: 0px;
	
}

#header > #menu > ul.menu > li > ul,
#header > #menu > ul.menu > li > ul > li > ul {
	
	display: none;
	list-style-type: none;
	background-color: rgba(255,255,255,0.9);
	padding: 6px 0px 6px 0px;
	
}

#header > #menu > ul.menu > li > ul > li > ul {
	
	padding: 0px;
	
}

#header > #menu > ul.menu > li:hover > ul,
#header > #menu > ul.menu > li > ul > li,
#header > #menu > ul.menu > li > ul > li:hover > ul,
#header > #menu > ul.menu > li > ul > li > ul > li {
	
	display: block;
	-webkit-transition: all 0.20s ease-in-out;
	-moz-transition: all 0.20s ease-in-out;
	-ms-transition: all 0.20s ease-in-out;
	-o-transition: all 0.20s ease-in-out;
	transition: all 0.20s ease-in-out;
	
}

#header > #menu > ul.menu > li > ul > li > a,
#header > #menu > ul.menu > li > ul > li > ul > li > a {
	
	display: block;
	padding: 6px 12px 6px 12px;
	-webkit-transition: all 0.20s ease-in-out;
	-moz-transition: all 0.20s ease-in-out;
	-ms-transition: all 0.20s ease-in-out;
	-o-transition: all 0.20s ease-in-out;
	transition: all 0.20s ease-in-out;
	
}

#header > #menu > ul.menu > li > ul > li > a:link,
#header > #menu > ul.menu > li > ul > li > a:visited,
#header > #menu > ul.menu > li > ul > li > a:hover,
#header > #menu > ul.menu > li > ul > li > ul > li > a:link,
#header > #menu > ul.menu > li > ul > li > ul > li > a:visited,
#header > #menu > ul.menu > li > ul > li > ul > li > a:hover {
	
	color: rgb(100,100,100);
	text-decoration: none;
	
}

#header > #menu > ul.menu > li > ul > li:hover,
#header > #menu > ul.menu > li > ul > li.active,
#header > #menu > ul.menu > li > ul > li > ul > li:hover,
#header > #menu > ul.menu > li > ul > li > ul > li.active {
	
	background-color: rgba(0,0,0,0.075);
	
}

#header > #menu > ul.menu > li > ul > li:hover > a,
#header > #menu > ul.menu > li > ul > li.active > a,
#header > #menu > ul.menu > li > ul > li > ul > li:hover > a,
#header > #menu > ul.menu > li > ul > li > ul > li.active > a {
	
	color: rgb(0,0,0);
	
}

#header > #menu > ul.menu > li > ul > li,
#header > #menu > ul.menu > li > ul > li > ul > li {
	
	position: relative;
	display: block;
	width: 160px;
	
}

#header > #menu > ul.menu > li > ul > li > ul {
	
	position: absolute;
	top: 0px;
	left: 160px;
	
}

#header > #menu > ul.menu > li > ul > li > div.showmore {
	
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;
	width: 16px;
	background-repeat: no-repeat;
	background-position: 0px 6px;
	
}

/**
 * Search
 */

#header > #search {
	
	position: absolute;
	right: 0px;
	bottom: 0px;
	z-index: 2001;
	
}

#header > #search > form > div.search > label {
	
	display: none;
	
}

#header > #search > form > div.search > input.inputbox {
	
	border: none;
	width: 200px;
	height: 24px;
	margin: 4px;
	padding-left: 8px;
	
}

#header > #search > form > div.search > input[type='submit'].button {
	
	height: 24px;
	margin-right: 4px;
	padding: 0px 6px 0px 6px;
	cursor: pointer;
	
}

#header > #search > form > div.search > input[type='image'].button {
	
	border: none;
	margin: 0px;
	padding: 0px;
	cursor: pointer;
	margin-right: 4px;
	margin-bottom: 4px;
	vertical-align: middle;
	
}

/**
 * Breadcrumbs
 */

#breadcrumbs {
	
	display: block;
	line-height: 60px;
	
}

#breadcrumbs > div.breadcrumbs > a:link,
#breadcrumbs > div.breadcrumbs > a:visited,
#breadcrumbs > div.breadcrumbs > a:hover {
	
	color: rgb(75,75,75);
	text-decoration: none;
	
}

/**
 * Banners
 */

#banners {
	
	margin-top: 20px;
	margin-bottom: 40px;
	padding-bottom: 32px;
	position: relative;
	
}

#banners > div.bannergroup {
	
	width: 100%;
	height: 100%;
	min-height: 348px;
	position: relative;
	
}

#banners > div.bannergroup > div.banneritem {
		
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 8;
	
}

#banners > div.bannergroup > div.banneritem div.info {
	
	opacity: 0;
	position: absolute;
	bottom: 0px;
	left: 0px;
	z-index: 11;
	
}

#banners > div.bannergroup > div.banneritem div.info > h1 {
		
	display: inline-block;
	margin-left: -20px;
	padding: 6px 12px 6px 12px;
	text-transform: uppercase;
	margin-bottom: 6px;
	
}

#banners > div.bannergroup > div.banneritem div.info > div.info-description {
		
	display: block;
	min-width: 140px;
	max-width: 320px;
	background-color: rgba(255,255,255,0.9);
	padding: 12px 24px 12px 24px;
	margin-bottom: 20px;
	
}

#banners > div.bannergroup > div.banneritem div.info > div.info-description > span {
		
	display: block;
	margin-top: 10px;
	color: rgb(0,0,0);
	
}

div#banners > div.bannergroup > div.banneritem.active {
	
	z-index: 10;
	
}

div#banners > div.bannergroup > div.banneritem.last-active {
	
	z-index: 9;
	
}

#banners > div.bannercontrols {
	
	height: 32px;
	position: relative;
	
}

#banners > div.bannercontrols > div.previous,
#banners > div.bannercontrols > div.next {
	
	position: absolute;
	top: 14px;
	text-align: center;
	line-height: 17px;
	font-family: Courier;
	font-weight: bold;
	font-size: 13px;
	
}

#banners > div.bannercontrols > div.previous,
#banners > div.bannercontrols > div.next,
#banners > div.bannercontrols > div.buttons > div.button {
	
	width: 18px;
	height: 18px;
	cursor: pointer;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	
}

#banners > div.bannercontrols > div.previous {
	
	left: 0px;
	
}

#banners > div.bannercontrols > div.next {
	
	right: 0px;
	
}

#banners > div.bannercontrols > div.buttons {
	
	text-align: center;
	padding-top: 14px;
	
}

#banners > div.bannercontrols > div.buttons > div.button {
	
	display: inline-block;
	margin-right: 10px;
	
}

#banners > div.bannercontrols > div.buttons > div.button:last-of-type {
	
	margin-right: 0px;
	
}

/**
 * Main Content
 */

#main > h1,
#main > div > h1,
#main > h2,
#main > div > h2 {
	
	display: block;
	margin: 0px 0px 20px 0px;
	padding: 0px 0px 10px 0px;
	font-size: 14pt;
	text-transform: uppercase;
	text-decoration: none;
	
}

/**
 * Featured table
 */

#main table.featured {
	
	background-color: rgb(245,245,245);
	border-spacing: 20px 20px;
	
}

#main table.featured h2 {
	
	margin-bottom: 20px;
	
}

#main table.featured .price {
	
	display: block;
	white-space: nowrap;
	font-size: 18pt;
	font-weight: bold;
	
}

#main table.featured a.buy {
	
	display: inline-block;
	margin-top: 10px;
	white-space: nowrap;
	text-transform: uppercase;
	text-align: center;
	font-size: 12pt;
	font-weight: bold;
	padding: 8px 16px 8px 16px;
	
}

#main table.featured a.buy:link,
#main table.featured a.buy:visited,
#main table.featured a.buy:hover {
	
	text-decoration: none;
	
}

/**
 * Blog Layout
 */

#main > div.blog-featured > div.items-row {
	
	display: table-row;
	
}

#main > div.blog-featured > div.items-row > div.item {
	
	display: table-cell;
	padding-top: 60px;
	
}

#main > div.blog-featured > div.items-row.cols-2 > div.item {
	
	width: 50%;
	
}

#main > div.blog-featured > div.items-row.cols-2 > div.item.column-1 {
	
	padding-right: 10px;
	
}

#main > div.blog-featured > div.items-row.cols-2 > div.item.column-2 {
	
	padding-left: 10px;
	
}

/**
 * Zibbra Catalog
 */

#zibbra-catalog > div.zibbra-catalog-product > div.clear {
	
	margin-bottom: 20px;
	
}

#zibbra-catalog > div.zibbra-catalog-product > div.zibbra-catalog-product-wrapper > div.zibbra-catalog-product-middle {
	
	margin-left: 190px;
	margin-right: 140px;
	
}

#zibbra-catalog > div.zibbra-catalog-product > div.zibbra-catalog-product-wrapper > div.zibbra-catalog-product-middle > h2.zibbra-catalog-product-name > a:link,
#zibbra-catalog > div.zibbra-catalog-product > div.zibbra-catalog-product-wrapper > div.zibbra-catalog-product-middle > h2.zibbra-catalog-product-name > a:visited,
#zibbra-catalog > div.zibbra-catalog-product > div.zibbra-catalog-product-wrapper > div.zibbra-catalog-product-middle > h2.zibbra-catalog-product-name > a:hover {
	
	font-size: 12pt;
	font-weight: normal;
	text-decoration: none;
	
}

#zibbra-catalog > div.zibbra-catalog-product > div.zibbra-catalog-product-wrapper > div.zibbra-catalog-product-middle > h3.zibbra-catalog-product-code {
	
	font-size: 10pt;
	font-weight: normal;
	color: rgb(50,50,50);
	margin-top: 2px;	
	margin-bottom: 10px;	
	
}

#zibbra-catalog > div.zibbra-catalog-product > div.zibbra-catalog-product-wrapper > div.zibbra-catalog-product-middle > p.zibbra-catalog-product-description {
	
	font-size: 9pt;
	font-weight: normal;
	color: rgb(100,100,100);	
	
}

#zibbra-catalog > div.zibbra-catalog-product > div.zibbra-catalog-product-right > div.zibbra-catalog-product-price {
	
	font-size: 9pt;
	font-weight: normal;
	color: rgb(100,100,100);	
	
}

#zibbra-catalog > div.zibbra-catalog-product > div.zibbra-catalog-product-right > div.zibbra-catalog-product-price > span {
	
	font-size: 12pt;
	font-weight: 400;	
	color: rgb(50,50,50);
	
}

#zibbra-catalog > div.zibbra-catalog-product > div.zibbra-catalog-product-right input.zibbra-catalog-product-add-to-cart {
	
	border: none;
	margin-top: 8px;
	padding: 6px 12px 6px 12px;
	cursor: pointer;
	font-size: 8pt;
	font-family: Arial, Verdana;
	font-weight: bold;
	text-transform: uppercase;
	white-space: nowrap;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	transition: all 0.30s ease-in-out;
	
}

#zibbra-catalog > div.pagination {
	
	margin-top: 30px;
    
}

#zibbra-catalog > div.pagination > span,
#zibbra-catalog > div.pagination > a {
	
    margin: 2px 10px 2px 0px;
    
}

#zibbra-catalog > div.pagination > span {
	
    color: rgb(50,50,50);
    
}

#zibbra-catalog > div.pagination > a {
	
    color: rgb(100,100,100);
    
}

#zibbra-catalog > div.pagination > span.current {
	
    padding: 0px;
    
}

/**
 * Zibbra Catalog Filters
 */

div.zibbra-filter {
	
	margin-bottom: 20px;
	
}

div.zibbra-filter > div.header {
	
	margin-bottom: 16px;
	
}

div.zibbra-filter > div.header > span {
	
	font-weight: bold;
	
}
 
div.slider {
	
	height: 60px;
	
}

div.slider > table.slider-labels td.slider-min > div,
div.slider > table.slider-labels td.slider-max > div {
	
	padding: 2px 3px 2px 0px;
	
}

div.slider > table.slider-labels td.slider-min > div,
div.slider > table.slider-labels td.slider-max > div,
div.slider > table.slider-labels td.slider-min > div > input,
div.slider > table.slider-labels td.slider-max > div > input {
	
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-o-border-radius: 0px;
	-ms-border-radius: 0px;
	
}

div.slider > div.slider-controls {
	
	top: 40px;
	
}

div.slider > div.slider-controls > div.slider-container {
	
	border: none;
	background-color: rgb(170,170,170);
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
	box-shadow: inset 1px 1px 1px 1px rgb(120,120,120);
	
}

div.slider > div.slider-controls > div.slider-handle {
	
	margin-left: 0px;
	width: 16px;
	height: 16px;
	border: none;
	background-color: rgb(240,240,240);
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-o-border-radius: 2px;
	-ms-border-radius: 2px;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
	background-image: linear-gradient(bottom, rgb(223,224,223) 0%, rgb(255,255,255) 83%);
	background-image: -o-linear-gradient(bottom, rgb(223,224,223) 0%, rgb(255,255,255) 83%);
	background-image: -moz-linear-gradient(bottom, rgb(223,224,223) 0%, rgb(255,255,255) 83%);
	background-image: -webkit-linear-gradient(bottom, rgb(223,224,223) 0%, rgb(255,255,255) 83%);
	background-image: -ms-linear-gradient(bottom, rgb(223,224,223) 0%, rgb(255,255,255) 83%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(223,224,223)),
		color-stop(0.83, rgb(255,255,255))
	);
	
}

div.slider > div.slider-controls > div.slider-indicator {
	
	top: 3px;
	box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.25);
	
}

/**
 * Zibbra Catalog Category Pages
 */

#zibbra-categories > div.zibbra-categories-row > div.zibbra-category > h3 > a {
	
	font-size: 13pt;
	font-weight: normal;
	color: rgb(100,100,100);
	text-decoration: none;
	
}

#zibbra-categories > div.zibbra-categories-row > div.zibbra-category > a.button {
	
	border: none;
	padding: 6px 12px 6px 12px;
	cursor: pointer;
	font-size: 8pt;
	font-family: Arial, Verdana;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	white-space: nowrap;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	transition: all 0.30s ease-in-out;
	
}

/**
 * Product Pages
 */

#zibbra-product > div.zibbra-product-info > div.zibbra-product-description > h1 {

	font-size: 14pt;
	font-weight: bold;
	margin-bottom: 10px;

}

#zibbra-product > div.zibbra-product-info > div.zibbra-product-album > div.zibbra-product-album-thumbnails > div.zibbra-product-album-thumbnail {
	
	border: none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	
}

#zibbra-product > div.zibbra-product-info > div.zibbra-product-description > div.zibbra-product-actions {
	
	margin-top: 30px;
	
}

#zibbra-product > div.zibbra-product-info > div.zibbra-product-description > div.zibbra-product-actions > div.zibbra-product-social > div.zibbra-product-social-icon {
	
	margin-left: 10px;
	
}

#zibbra-product > div.zibbra-product-info > div.zibbra-product-description > div.zibbra-product-actions > div.zibbra-product-buy > div.zibbra-product-price,
#zibbra-product > div.zibbra-product-info > div.zibbra-product-description > div.zibbra-product-actions > div.zibbra-product-buy > div.zibbra-product-price > span {
	
	font-size: 20pt;

}

#zibbra-product > div.zibbra-product-info > div.zibbra-product-description > div.zibbra-product-actions > div.zibbra-product-buy > div.zibbra-product-price {	
	
	text-align: center;

}

#zibbra-product > div.zibbra-product-info > div.zibbra-product-description > div.zibbra-product-actions > div.zibbra-product-buy > input {
	
	border: none;
	padding: 8px 28px 8px 28px;
	cursor: pointer;
	font-size: 8pt;
	font-family: Arial, Verdana;
	font-weight: bold;
	text-transform: uppercase;
	white-space: nowrap;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	transition: all 0.30s ease-in-out;
	
}

#zibbra-product > div.zibbra-product-suggestions > ul > li {
	
	margin: 20px;

}

#zibbra-product > div.zibbra-product-suggestions > h2,
#zibbra-product > div.zibbra-product-suggestions > h2 > span,
#zibbra-product > div.zibbra-product-properties > h3 {
	
	font-size: 12pt;
	letter-spacing: 0.1em;
	
}

#zibbra-product > div.zibbra-product-properties > h3 {
	
	font-size: 13pt;
	font-style: italic;
	font-weight: normal;
	margin-bottom: 20px;
	
}

#zibbra-product > div.zibbra-product-suggestions > ul > li > div.info {
	
	margin-left: 120px;
	min-height: 80px;
	
}

#zibbra-product > div.zibbra-product-suggestions > ul > li > div.info > p.price {
	
	font-size: 12pt;
	position: absolute;
	left: 10px;
	bottom: 6px;
	
}

#zibbra-product > div.zibbra-product-properties td.zibbra-product-property-name,
#zibbra-product > div.zibbra-product-properties td.zibbra-product-property-value {
	
	color: rgb(125,125,125);
	
}

/**
 * Zibbra Cart
 */

a.zibbra-cart-link > span {
	
	font-size: 11pt;
	
}

a.zibbra-cart-button {
	
	text-decoration: none;
	display: inline-block;
	-webkit-transition: all 0.20s ease-in-out;
	-moz-transition: all 0.20s ease-in-out;
	-ms-transition: all 0.20s ease-in-out;
	-o-transition: all 0.20s ease-in-out;
	transition: all 0.20s ease-in-out;
	
}

a.zibbra-cart-button.zibbra-cart-update,
a.zibbra-cart-link.zibbra-cart-cancel {
	
	margin-right: 5px;
	
}

a.zibbra-cart-button.zibbra-cart-empty,
a.zibbra-cart-link.zibbra-cart-checkout {
	
	margin-left: 5px;
	
}

a.zibbra-cart-button.zibbra-cart-empty {
	
	border: 1px solid rgb(255,255,255);
	background-color: rgb(219,0,13);
	
}

a.zibbra-cart-button.zibbra-cart-empty > span {
	
	color: rgb(255,255,255);
	
}

a.zibbra-cart-button.zibbra-cart-empty:hover {
	
	border: 1px solid rgb(219,0,13);
	background-color: rgb(255,255,255);
	
}

a.zibbra-cart-button.zibbra-cart-empty:hover > span {
	
	color: rgb(219,0,13);
	
}

/**
 * Zibbra Checkout
 */

#zibbra-checkout div.header {
	
	height: 26px;
	line-height: 26px;
	font-size: 12pt;
	font-weight: bold;
	
}

#zibbra-checkout div.header > span.step {
	
	margin-right: 10px;
	width: 26px;
	height: 26px;
	font-size: 17px;
	font-weight: normal;
	line-height: 25px;
	-webkit-border-radius: 13px;
	-moz-border-radius: 13px;
	-ms-border-radius: 13px;
	-o-border-radius: 13px;
	border-radius: 13px;
	
}

#zibbra-checkout-confirm > input.disabled {
	
	background-color: rgb(255,255,255)!important;
	border: 1px solid rgb(145,145,145)!important;
	color: rgb(145,145,145)!important;
	cursor: default!important;
	
}

/**
 * Zibbra Account Pages
 */

#zibbra-account h3,
#zibbra-account h3 > span {
	
	font-size: 13pt;
	font-style: italic;
	font-weight: normal;
	
}

#zibbra-account h3 > a {
	
	font-style: normal;
	font-size: 8pt;
	margin-left: 10px;
	
}

/**
 * Zibbra Demo Notice
 */

#zibbra-demo {
	
	margin-top: 80px;
	border: 1px solid rgb(238,48,36);
	
}

#zibbra-demo .zibbra {
	
	font-size: 24pt;
	font-weight: bold;
	margin: 0px 0px 0px 30px;
	
}

#zibbra-demo h2 {
	
	font-size: 16pt;
	font-weight: bold;
	color: rgb(238,48,36);
	margin-bottom: 10px;
	
}

/**
 * Footer Styling
 */

#footer-outer {
	
	background-image: url('../images/footer.png');
    background-repeat: repeat-x;
    background-position: top left;	
	color: rgb(255,255,255);
	
}

#footer-inner {
	
	height: 251px;
	
}

#footer-inner > #bottom {
	
	overflow: hidden;
	margin-top: 41px;
	height: 100%;
	padding: 50px 0px 0px 0px;
	
}

#footer-inner > #bottom div.box3 {
	
    float: right;
    width: 240px;
    
}

#footer-inner > #bottom div.box1 {
	
    float: left;
    width: 320px;
    
}

#footer-inner > #bottom div.box2 {
	
    margin: 0 280px 0 360px;
    
}

#footer-inner > #bottom div.box h2 {
	
    font-size: 14pt;
    margin-bottom: 10px;
    
}

#footer-sub {
	
	height: 30px;
	
}

#footer > div.custom {
	
	float: left;
	margin-top: 20px;
	color: rgb(100,100,100);
	
}

/**
 * Newsletter
 */

#zibbra-newsletter table {
	
	margin-top: 20px;
	
}

#zibbra-newsletter table td {
	
	overflow: hidden;
	
}

#zibbra-newsletter table input {
	
	width: 100%;
	border: none;
	display: block;
	height: 28px;
	line-height: 28px;
	color: rgb(0,0,0);
	padding-left: 20px;
	
}

#zibbra-newsletter table button {
	
	border: none;
	display: block;
	height: 28px;
	line-height: 28px;
	padding: 0px 18px 0px 18px;
	font-size: 9pt;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
	
}

/**
 * Sitemap
 */

#bottom ul.menu {
	
	float: left;
	list-style-type: none;
	margin: 0px 0px 0px 50px;
	padding: 0px;
	
}

#bottom ul.menu > li {
	
	margin: 0px;
	padding: 0px;
	
}

#bottom ul.menu > li > a {
	
	text-transform: uppercase;
	line-height: 28px;
	
}

#bottom ul.menu > li > a:link,
#bottom ul.menu > li > a:visited,
#bottom ul.menu > li > a:hover {
	
	color: rgb(255,255,255);
	text-decoration: none;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	transition: all 0.30s ease-in-out;
	
}

/**
 * Powered By
 */

#poweredby {
	
	float: right;
	color: rgb(100,100,100);
	margin-top: 20px;
	
}

#poweredby a:link,
#poweredby a:visited {
	
	color: rgb(100,100,100);
	text-decoration: none;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	transition: all 0.30s ease-in-out;
	
}

/**
 * Contact
 */

#main > div.contact > h2,
#main > div.contact > h3 {
	
	display: none;
	
}

#main > div.contact > div.contact-image {
	
	float: left;
	margin-top: 40px;
	
}

#main > div.contact > div.contact-address {
	
	margin-top: 40px;
	
}

#main > div.contact > div.contact-address,
#main > div.contact > div.contact-contactinfo > p {
	
	margin-bottom: 8px;
	
}

#main > div.contact > div.contact-contactinfo > p:last-of-type {
	
	margin-bottom: 0px;
	
}

#main > div.contact > div.contact-address,
#main > div.contact > div.contact-contactinfo {
	
	margin-left: 320px;
	
}

#main > div.contact > div.contact-address > span.jicons-icons,
#main > div.contact > div.contact-contactinfo > p > span.jicons-icons {
	
	float: left;
	
}

#main > div.contact > div.contact-address > address,
#main > div.contact > div.contact-contactinfo > p > span.contact-webpage {
	
	margin-left: 24px;
	
}

#main > div.contact > div.contact-contactinfo > p > span.contact-telephone,
#main > div.contact > div.contact-contactinfo > p > span.contact-fax {
	
	margin-left: 8px;
	
}

#main > div.contact > p {
	
	clear: both;
	
}

#main > div.contact > div.contact-form {
	
	margin-top: 40px;
	
}

#main > div.contact fieldset {
	
	background-color: rgb(245,245,245);
	border: none;
	padding: 38px 20px 20px 20px;
	color: rgb(100,100,100);
	
}

#main > div.contact fieldset > legend {
	
	display: block;
	position: relative;
	top: 26px;
	height: 24px;
	line-height: 26px;
	background-image: url('../images/contact.png');
	background-repeat: no-repeat;
	background-position: top left;
	padding-left: 32px;
	font-size: 12pt;
	font-weight: bold;
	color: rgb(100,100,100);
	
}

#main > div.contact button {
	
	margin-top: 20px;
	border: none;
	padding: 6px 16px 6px 16px;
	text-transform: uppercase;
	font-weight: bold;
	cursor: pointer;
	
}

#main > div.contact fieldset > dl > dt {
	
	margin: 10px 0px 6px 0px;
	
}

#main > div.contact fieldset > dl > dd > input,
#main > div.contact fieldset > dl > dd > textarea {
	
	outline: none;
	border: 1px solid rgb(175,175,175);
	-webkit-transition: all 0.50s ease-in-out;
	-moz-transition: all 0.50s ease-in-out;
	-ms-transition: all 0.50s ease-in-out;
	-o-transition: all 0.50s ease-in-out;
	transition: all 0.50s ease-in-out;
	padding-left: 6px;
	color: rgb(50,50,50);
	
}

#main > div.contact fieldset > dl > dd > textarea {
	
	padding: 6px;
	
}

/**
 * Bestsellers
 */

#zibbra-bestsellers > h2 {
	
	height: 44px!important;
	line-height: 44px!important;
	background-image: url('../images/dot-overlay.png');
	
}

#zibbra-bestsellers > h2 > span {
	
	padding-left: 12px!important;
	font-size: 12pt;
	letter-spacing: 0.15em;
	
}

#zibbra-bestsellers > h2 > div.icon {
	
	top: 12px!important;
	right: 12px!important;
	
}

#zibbra-bestsellers ul > li > p.image {
	
	padding-top: 40px!important;
	
}

#zibbra-bestsellers ul > li > div.info {
	
	padding: 10px!important;
	
}

#zibbra-bestsellers ul > li > div.info > p.description {
	
	margin: 6px 0px 14px 0px!important;
	
}

#zibbra-bestsellers ul > li > div.info > p.price {
	
	font-size: 12pt;
	
}

#zibbra-bestsellers ul > li > div.info > a > div.icon {
	
	bottom: 10px!important;
	right: 10px!important;
	
}

/**
 * Forms
 */

form {
	
	margin: 0px;
	padding: 0px;
	
}

form > fieldset {
	
	background-color: whiteSmoke;
	border: none;
	padding: 38px 20px 20px 20px;
	margin: 0px 0px 10px 0px;
	color: #646464;
	
}

form > fieldset > legend {
	
	display: block;
	position: relative;
	top: 26px;
	height: 24px;
	line-height: 26px;
	font-size: 12pt;
	font-weight: bold;
	color: #646464;
	
}

form > fieldset > dl > dt {
	
	margin: 10px 0px 6px 0px;
	clear: left;
	
}

form > fieldset > dl > dt > span.optional {
	
	color: rgb(175,175,175);
	font-size: 8pt;
	padding-left: 10px;
	
}

form > fieldset > dl > dt > label > span.star {
	
	color: rgb(255,0,0);
	
}

form > fieldset > dl > dd > input[type='text'],
form > fieldset > dl > dd > input[type='password'],
form > fieldset > dl > dd > input[type='email'] {
	
	outline: none;
	border: 1px solid #AFAFAF;
	min-width: 320px;
	-webkit-transition: all 0.50s ease-in-out;
	-moz-transition: all 0.50s ease-in-out;
	-ms-transition: all 0.50s ease-in-out;
	-o-transition: all 0.50s ease-in-out;
	transition: all 0.50s ease-in-out;
	padding-left: 6px;
	color: #323232;
	
}

form > fieldset > dl > dd > input.invalid {
	
	border: 1px solid red!important;
	
}

form > fieldset > dl > dt.checkbox,
form > fieldset > dl > dd.checkbox {
	
	float: left;
	clear: none;
	
}

form > fieldset > dl > dt.checkbox {
	
	margin: 0px 0px 10px 0px;
	padding-left: 6px;
	
}

form > fieldset > dl > dd > fieldset.radio {
	
	border: none;
	
}

form > fieldset > dl > dd > fieldset.radio > input {
	
	float: left;
	clear: left;
	margin: 0px 0px 8px 16px;
	
}

form > fieldset > dl > dd > fieldset.radio > label {
	
	float: left;
	padding-left: 6px;
	
}

#main form input[type='submit'] {
	
	margin-top: 10px;
	border: none;
	padding: 6px 16px 6px 16px;
	text-transform: uppercase;
	font-weight: bold;
	cursor: pointer;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	transition: all 0.30s ease-in-out;
	
}

/**
 * Tooltips
 */

div.tip-wrap {
	
	background-color: rgba(255,255,255,0.75);
	
}

div.tip-wrap > div.tip {
	
	padding: 6px;
	
}

div.tip-wrap > div.tip > div.tip-title {
	
	margin: 0px 0px 6px 0px;
	font-weight: bold;
	text-align: left;
	
}

/**
 * Search Results
 */

#searchForm > fieldset.word {
	
	padding: 20px;
	
}

#searchForm > fieldset.word > label {
	
	display: block;
	line-height: 26px;
	font-size: 12pt;
	font-weight: bold;
	color: #646464;
	margin-bottom: 10px;
	
}

#searchForm > fieldset.word > input {
	
	outline: none;
	border: 1px solid #AFAFAF;
	min-width: 320px;
	height: 21px;
	line-height: 21px;
	-webkit-transition: all 0.50s ease-in-out;
	-moz-transition: all 0.50s ease-in-out;
	-ms-transition: all 0.50s ease-in-out;
	-o-transition: all 0.50s ease-in-out;
	transition: all 0.50s ease-in-out;
	padding-left: 6px;
	color: #323232;
	
}

#searchForm > fieldset.word > button {	
	
	border: none;
	padding: 3px 8px 3px 8px;
	text-transform: uppercase;
	font-weight: bold;
	cursor: pointer;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	transition: all 0.30s ease-in-out;	
	
}

#searchForm > fieldset.phrases {
	
	display: none;
	
}

#searchForm > fieldset.only > label {
	
	margin-right: 20px;
	
}

#searchForm > div.searchintro,
#searchForm > div.form-limit {
	
	padding: 4px 20px 4px 20px;
	
}

div.search > dl.search-results > dt.result-title {
	
	margin-top: 20px;
	
}

div.search > dl.search-results > dt.result-title,
div.search > dl.search-results > dt.result-title > a {
	
	font-size: 12pt;
	font-weight: normal;
	text-decoration: none;
	
}

div.search > dl.search-results > dd.result-category {
	
	margin-top: 6px;
	margin-bottom: 10px;
	font-size: 8pt;
	color: rgb(100,100,100);
	
}

div.search > dl.search-results > dd.result-created {

	display: none;
	
}