#zibbra-bestsellers {
	
	display: block;
	overflow: hidden;
	
}

#zibbra-bestsellers > h2 {
	
	display: block;
	height: 31px;
	line-height: 31px;
	background-color: rgb(200,200,200);
	position: relative;
	
}

#zibbra-bestsellers > h2 > span {
	
	padding-left: 8px;
	
}

#zibbra-bestsellers > h2 > div.icon {
	
	display: block;
	position: absolute;
	top: 5px;
	right: 5px;
	width: 21px;
	height: 20px;
	background-image: url('../images/arrow-up.png');
	background-repeat: no-repeat;
	background-position: top left;
	cursor: pointer;
	
}

#zibbra-bestsellers > h2.collapsed > div.icon {
	
	background-image: url('../images/arrow-down.png');
	
}

#zibbra-bestsellers ul {
	
	display: block;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	
}

#zibbra-bestsellers ul > li {
	
	display: block;
	margin: 0px;
	padding: 0px;
	
}

#zibbra-bestsellers ul > li > p.image {
	
	padding-top: 20px;
	padding-bottom: 20px;
	
}

#zibbra-bestsellers ul > li > div.info {
		
	background-color: rgb(245,245,245);
	padding: 7px;
	position: relative;
	
}

#zibbra-bestsellers ul > li > div.info > h3,
#zibbra-bestsellers ul > li > div.info > p.name,
#zibbra-bestsellers ul > li > div.info > p.description {
	
	white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    -moz-binding: url('ellipsis.xml#ellipsis');
    text-overflow: ellipsis;
	
}

#zibbra-bestsellers ul > li > div.info > p.description {
	
	margin: 8px 0px 10px 0px;
	
}

#zibbra-bestsellers ul > li > div.info > p.price {
	
	font-weight: bold;
	
}

#zibbra-bestsellers ul > li > div.info > a > div.icon {
	
	display: block;
	position: absolute;
	bottom: 7px;
	right: 7px;
	width: 22px;
	height: 22px;
	background-color: rgb(200,200,200);
	background-image: url('../images/details.png');
	background-repeat: no-repeat;
	background-position: 3px 3px;
	cursor: pointer;
	
}